$size()
  height arguments
  width arguments


@import "components/ICOF/ICOF"
@import "components/ICOCell/ICOCell"


*
  box-sizing border-box
  margin 0
  padding 0


#ico-wrapper, body, html
  $size 100%
