html
	head
		title ICO
		meta(charset="UTF-8")
		meta(name="description" content="GTI - Guia da Juventude")
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="main.css")
	body
		#ico-wrapper
		script(src="main.js")
	
	
	
