*
	margin 0
	padding 0
	box-sizing border-box
	user-select none

body > div
	height 100%
	width 100%


colors = {
	primary: #fdf6d3
}

fonts = {
	primary: "Open Sans"
}


@import "Components/ICOCell/ICOCell"
@import "Components/ICOF/ICOF"
