$margin-icof-header = 11px

.ICOF
  $size 100%
  $bg-img('/img/BG.png')
  $flex(row)
  background-color black
  padding 15px
  color white
  font-family $font-primary

  *
    font-size 24px


  &-title
    font-family $font-primary
    font-size 30px
    margin $margin-icof-header
    flex-shrink 0


  .DraftEditor-root
    flex-grow 1


  &-user
    $size 50px
    $bg-img('/img/user-profile.png')
    border 1px solid white
    border-radius 50%
    margin $margin-icof-header
    flex-shrink 0
    cursor pointer
